@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&family=Raleway:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body {
    background: linear-gradient(100deg, #a5a198, #393646);    
    backdrop-filter: blur(4px);
    background-repeat: no-repeat;
    background-size: cover;
}

.img__logo {
    width: 50px;
    height: 60px;
    cursor: pointer;
}

.bg__menu {
    background-color: #393646;
    box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.288);
}

.color__menu {
    color: #F4EEE0;
    font-family: 'Exo', sans-serif;
}

.color__menu>svg {
    fill: rgba(255, 255, 255, 0.76);
}

.footer__edit {
    background-color: #393646;
    padding: 10px;
}

.footer__edit>img {
    width: 30px;
}

#pesquisa {
    width: 12rem;
    height: 2rem;
    margin-bottom: .2rem;
    border: none;
    border-radius: 10px;
}
#pesquisa:focus {
    outline: none;
}

.main__cards {
    padding-top: 12rem;
    padding-bottom: 6rem;
    list-style: none;
    transition: all .7s ease-in;
    margin-top: 0;
    margin-bottom: 0;
    display: flex; justify-content: space-evenly;
    flex-wrap: wrap;
}

div>a>img {
    width: 14rem;
    height: 17rem;
    object-fit: cover;
    margin: 1rem;
}

.card__titulo {
    color: #F4EEE0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}

.controle {
    width: 17em;
    margin: 1.5rem;
}

div>a>img:hover {
    border: 5px solid;
    border-radius: 10px;
    animation: colorChange 2s linear infinite;
    object-fit: cover;
}

@keyframes colorChange {
    0% { border-color: #ff00007a; }
    10% { border-color: #5900ff7a; }
    25% { border-color: #00ff0077; }
    50% { border-color: #0000ff75; }
    75% { border-color: #ff00ff6e; }
    85% { border-color: #ffff0070; }
    100% { border-color: rgba(255, 0, 0, 0.478); }

}

.tomo__chan {
    object-position: left;
}

.bg__color {
    width: 20rem;
    background-color: rgba(92, 85, 85, 0.733);
    display: flex; border-radius: 10px;
    align-items: center;
}

.pesquisa {
    background-color: transparent;
}

/* Pronta(por hora) */

@media screen and (max-width: 800px) {
    .img__logo {
        display: none;
    }

    .main__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: nowrap;
    }

    div>a>img {
        width: 8rem;
        height: 10rem;
        object-fit: cover;
        margin: 1rem;
        animation: img__animation 4s ease-out infinite;
    }

    @keyframes img__animation {
        0% {
            transform: translatey(0px);
        }
        25% {
            transform: translatey(-5px);
        }
        50% {
            transform: translatey(-10px);
        }
        75% {
            transform: translatey(-5px);
        }
        100% {
            transform: translatey(0px);
        }
    }

    .controle {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-items: center;
    }
}

@media  screen and (max-width: 550px) {
    .main__cards {
        display: grid;
        grid-template-columns: repeat(3, 2rem);
        flex-wrap: wrap;
    }
    .controle {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-items: center;
    }
    div>a>img {
        width: 4rem;
        height: 5rem;
        object-fit: cover;
        margin: 1rem;
        transition: all .3s ease;
    }
    .card__titulo {
        color: #F4EEE0;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        text-transform: capitalize;
        font-size: 1rem;
    }
}

@media  screen and (max-width: 300px) {

    .main__cards {
        display: grid;
        grid-template-columns: repeat(2, 5rem);
        flex-wrap: nowrap;
    }
}
@media  screen and (max-width: 200px) {

    .main__cards {
        display: grid;
        grid-template-columns: repeat(1, 5rem);
        flex-wrap: nowrap;
    }
}